<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Weather Checker </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
    <div id="particles-js"></div>
    <div class="stars"></div>
    <div class="container centered">
        <header> Check the weather! </header>
        <fieldset>
            <form action="/" method="post">
                <input id="cityInput" name="city" type="text" class="ghost-input" placeholder="enter a city followed by country code - ex: 'Boston, US'" style="flex-grow: 8; margin-right: 5px" required>
                <input id="submitBtn" name="submit" type="submit" class="ghost-button" value="get weather" style='flex-grow: 1'>
            </form>
        </fieldset>
        <p class="result"> 
        <% if(weather != null) { %>
                <%= weather %> 
                <br/>
                <%= humidity %>
                <br/>
                <%= clothing %>
        <% } else { %>
            <%= error %>
        <% } %>
        </p>
    </div>
</body>

</html>

<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/assets/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });

    $('input#cityInput').focus(); // Always focus on the input box
    $('input#cityInput').keypress(function() {
        $('.result').html(""); // When user types, clear the results
    })
</script>